<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./vue.js"></script>
</head>

<body>

    <div class="text-center bg-primary text-white">
        <h2>0106 - Templates e diretivas</h1>
    </div>
    <div class="container-fluid">
        <div id="app">
            <h1>{{titulo}}</h1>

            <!--Testando if do Vue-->
            <div v-if="comprou" :style="{ background: cor}">
                <p>{{conteudo}}</p>
                <p>{{lado * lado - lado / 100}}</p>
                <p>Curso liberado: {{comprou ? 'Sim' : 'Não comprou, compre aqui' }}</p>
            </div>

            <!--Links dinâmicos-->
            <p>href dinâmico com v-bind- <a v-bind:href="href">{{href}}</a></p>
            <p>href dinâmico sem v-bind - <a :href="comprou? href : '' ">{{href}}</a></p>

            <!--Testando if do Vue-->
            <input v-model="cor" type="color">
            {{cor}}
        </div>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                titulo: "Curso de Vue.js",
                conteudo: "Esse é o conteúdo,",
                lado: 5,
                comprou: true,
                href: "https://www.origamid.com",
                cor: "#00ff00"
            }
        })
    </script>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>